*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
html{
    height: 100%;
    width: 100%;
    font-size: 14px;
}
::-webkit-scrollbar{
    background-color: #000;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #c9d1d9;
    border-radius: 2px;
}
.listSeguidores::-webkit-scrollbar{
    background-color: #161b22;
    width: 4px;
}
body{
    height: 100%;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    min-height:100%;
    background-color:#000;
}
.topo .container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.wrapperbtnsend{
    display: flex;
    gap: 10px;
}
.wrapperInput{
    padding: 0px 10px 0 0;
    background-color: #000;
    border-radius: 6px;
    border: 1px solid #30363d;
    display: flex;
    align-items: center;
}
.wrapperInput input{
    background-color: transparent;
    border: 0;
    outline: 0;
    display: flex;
    flex-grow: 1;
    padding: 5px 10px;
    color: #fff;
}
.wrapperInput i{
    color: #30363d;
}
.sendUser{
    display: flex;
}
.sendUser input{
    flex-grow: 1;
    padding: 4px 15px;
    background-color: #30363d;
    border: 1px solid transparent;
    color: #c9d1d9;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
}
.topo{
    width: 100%;
    background-color: #161b22;
    padding: 14px;
}
.topo img{
    display: inline-block;
    height: auto;
}
.content{
    display: flex;
    flex: 1;
    padding: 40px 0;
}
.flex{
    display: flex;
    gap: 30px;
}
.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}
.infoMainWrapper{
    width: 30%;
}
.infoMainWrapper > div{
    margin-top: 23px;
}
.foto{
    display: inline-block;
}
.foto img{
    height: 175px;
    width: 175px;
    border-radius: 50%;
    border: 1px solid #30363d;
    box-shadow: 0 0 0 1px rgba(240,246,252,0.1);
}
.nomeUsuario h1{
    color: #c9d1d9;
    font-weight: 400;
    font-size: 1.4rem;
}
.nomeUsuario span{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    color: #8b949e;
    line-height: 24px;
}
.bio span{
    color: #c9d1d9;
}
.pessoas{
    color: #8b949e;
    display: flex;
    align-items: center;
    gap: 10px;
}
.seguidores{
    display: flex;
    align-items: center;
}
.localizacao{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #8b949e;
}
.listSeguidoresWrapper{
    width: 100%;
    padding: 10px 0;
    background-color: #161b22;
    border-radius: 3px;
}
.listSeguidoresWrapper h2{
    color: #c9d1d9;
    font-weight: 300;
    font-size: 1.2rem;
    padding-left: 15px;
    margin-bottom: 8px;
}
.listSeguidores{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 310px;
    overflow-y: auto;
}
.seguidoresSingle{
    width: 100%;
}
.seguidoresSingle > a{
    text-decoration: none;
    width: 100%;
    padding: 9px 15px;
    display: inline-block;
}
.seguidoresSingle > a:hover{
    background-color: #30363d;
}
.infoSeguidores{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.infoSeguidores .foto{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.infoSeguidores .foto img{
    max-width: 100%;
    height: 100%;
}
.infoSeguidores .nome{
    color: #58a6ff;
}
.repositorios{
    width: 70%;
}
.full-w{
    width: 100%;
}
.repositorios h2{
    color: #c9d1d9;
    font-weight: 400;
    font-size: 1.3rem;
}
.wrapperRepos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
}
.noRepo{
    color: #c9d1d9;
    font-size:1.2rem;
}
.nofollow{
    color: #c9d1d9;
    font-size: 0.9rem;
    padding-left: 20px;
    width: 100%;
}
.boxSingle{
    display: flex;
    margin-bottom: 16px;
    width: 50%;
    padding-right: 8px !important;
    padding-left: 8px !important;
}
.box{
    width: 100%;
    border-color: #30363d;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    padding: 16px;
}
.conteudoBox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.nomeEvisibilidade{
    display: flex;
    justify-content: space-between;
}
.nome a{
    text-decoration: none;
    color: #58a6ff;
}
.nome a:hover{
    text-decoration: underline;
}
.visibilidade{
    color: #8b949e;
    padding: 0 7px;
    border:1px solid #30363d;
    font-weight: 500;
    border-radius: 10px;
    font-size: 0.8rem;
    line-height: 22px;
}
.descricao{
    color:#8b949e;
    flex: 1 0 auto;
    font-size: 0.85rem;
    margin-top: 8px;
}
.linguagens{
    width: 100%;
    margin-top: 15px;
}
.wrapperL{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.ball{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #fff;
}
.wrapperL .name{
    color: #8b949e;
    font-size: 0.85rem;
}
footer{
    width: 100%;
    background-color: #161b22;
    padding: 14px;
    text-align: center;
}
footer p{
    color: #c9d1d9;
    font-size: 0.9rem
}
footer a{
    text-decoration: none;
    color: #58a6ff;
}
footer a:hover{
    text-decoration: underline;
}
